target/
/sample/android/libs/
/sample/android/res/raw/
/sample/desktop/.lein-repl-history
/sample/desktop/save.dat
/cbl/src/jp/ne/tir/clan/claninfo.clj
/tpack/project.clj
/depinst/repos/
!/depinst/repos/.gitkeep
