# parent project dont want to include clan.
/clan/
/jingle.mute
/Makefile
/VERSION
/.droid-apk-done
/.droid-build-done
/.droid-install-done
/android/gen/
/android/AndroidManifest.xml
/android/src-java/**/MainActivity.java
/autom4te.cache/
/config.log
/config.status
/configure
/desktop/assets/ta/
/desktop/src-java/**/Desktop.java
/desktop/.lein-failures
/desktop/.lein-repl-history
/l4j/l4j.xml
/layout/Desktop.java
/layout/MainActivity.java
/project-common.clj
target/
