# parent project dont want to include clan.
/clan/
/jingle.mute
/Makefile
/VERSION
/android/AndroidManifest.xml
/android/src-java/**/MainActivity.java
/autom4te.cache/
/config.log
/config.status
/configure
/desktop/assets/pack.atlas
/desktop/assets/pack.png
/desktop/assets/pack2.png
/desktop/assets/pack3.png
/desktop/assets/pack4.png
/desktop/assets/pack5.png
/desktop/assets/pack6.png
/desktop/assets/pack7.png
/desktop/assets/pack8.png
/desktop/assets/pack9.png
/desktop/assets/pack1*.png
/desktop/assets/pack2*.png
/desktop/assets/pack3*.png
/desktop/assets/pack4*.png
/desktop/assets/pack5*.png
/desktop/assets/pack6*.png
/desktop/assets/pack7*.png
/desktop/assets/pack8*.png
/desktop/assets/pack9*.png
/desktop/src-java/**/Desktop.java
/l4j/l4j.xml
/layout/Desktop.java
/layout/MainActivity.java
/project-common.clj
target/
